<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Document</title>
</head>
<body>
  <header>
    <img src="/images/logo-mercado-liebre.svg" class= "logo" alt="logo">
    <p>Lugar para poner la barra de búsqueda</p>

    <article>
      <a class="fa-solid fa-hand-holding-dollar"></a>
      <p>Comprá en cuotas y sin trajeta de crédito</p>
    </article>

    <nav>
        <a href="#ofertas" class="descripciones">Ofertas</a>
        <a href="#tiendas oficiales"  class="descripciones">Tiendas Oficiales</a>
        <a href="#vender"  class="descripciones">Vender</a>
        <a href="#ayuda"  class="descripciones">Ayuda</a>
    </nav>
    <nav>
         <a href="#crea tu cuenta" class="descripciones">Creá tu cuenta<a class="fa-solid fa-address-card"></a></a>
         <a href="#ingresa" class="descripciones">Ingresá<a class="fa-solid fa-right-to-bracket"></a></a>
         <a href="#mis compras" class="descripciones">Mis compras<a class="fa-solid fa-basket-shopping"></a></a>
    </nav>

    <article>
    <div class="burger-menu">
      <a class="fas fa-bars"></a>
    </div>
  </article>

    <picture>
      <img src="/images/img-home-banner.jpg" alt="banner">
    </picture>
</header>
<main>
    <section>
        <h2 class="titulo">Basado en tu última visita</h2>
        <picture>
            <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
        </picture>
        <article>
          <nav>
            <a class="fa-solid fa-truck"></a>
          </nav>
        </article>
        <h5 class="precios">$6.770</h5>
        <h5 class="descuentos">40% OFF</h5>
        <h5 class="descripciones">Cafetera Moulinex</h5>

        <picture>
            <img src="/images/img-macbook-pro-2019.jpg" alt="macbook pro">
        </picture>
        <nav>
          <a class="fa-solid fa-truck"></a>
        </nav>
        <h5 class="precios">$230.000</h5>
        <h5 class="descuentos">20% off</h5>
        <h5 class="descripciones">MacBook Pro 2019</h5>

        <picture>
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10">
        </picture>
        <nav>
          <a class="fa-solid fa-truck"></a>
        </nav>
        <h5 class="precios">$70.500</h5>
        <h5 class="descuentos">10% off</h5>
        <h5 class="descripciones">Samsung Galaxy S10</h5>

        <picture>
            <img src="/images/img-tv-samsung-smart.jpg" alt="smart tv">
        </picture>
        <nav>
          <a class="fa-solid fa-truck"></a>
        </nav>
        <h5 class="precios">$23.200</h5> 
        <h5 class="descuentos">5% off</h5>
        <h5 class="descripciones">SmartTV Samsung 43"</h5>
    </section>
    <section>

        <h2 class="titulo">Ofertas</h2>
        <picture>
          <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
        </picture>
        <nav>
          <a class="fa-solid fa-truck"></a>
        </nav>
        <h5 class="precios">$6.770</h5>
        <h5 class="descuentos">40% OFF</h5>
        <h5 class="descripciones">Cafetera Moulinex</h5>

        <picture>
          <img src="/images/img-macbook-pro-2019.jpg" alt="macbook pro">
        </picture>
        <nav>
          <a class="fa-solid fa-truck"></a>
        </nav>
        <h5 class="precios">$230.000</h5>
        <h5 class="descuentos">20% off</h5>
        <h5 class="descripciones">MacBook Pro 2019</h5>

        <picture>
          <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung">
        </picture>ç<nav>
          <a class="fa-solid fa-truck"></a>
        </nav>
        <h5 class="precios">$70.500</h5>
        <h5 class="descuentos">10% off</h5>
        <h5 class="descripciones">Samsung Galaxy S10</h5>

        <picture>
        <img src="/images/img-tv-samsung-smart.jpg" alt="smart tv">
        </picture>
        <nav>
          <a class="fa-solid fa-truck"></a>
        </nav>
        <h5 class="precios">$23.200</h5>
        <h5 class="descuentos">5% off</h5>
        <h5 class="descripciones">SmartTV Samsung 43"</h5>
    </section>
</main>
<footer>
  <div class="icono">
    <a class="fa-solid fa-credit-card"></a>
  </div>
    <article>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <h5 class="descripciones-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</h5>
        </article>
        <div class="icono">
          <a class="fa-solid fa-gift"></a>
        </div>
    <article>
        <h3>Envio gratis desde $2.500</h3>
        <h5 class="descripciones-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</h5>
        </article>
        <div class="icono">
          <a class="fa-solid fa-user-shield"></a>
        </div>
        <article>
        <h3>Seguridad de principio a fin</h3>
        <h5 class="descripciones-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</h5>
        </arcticle>
    <article>
        <h5 class="descripciones-footer">Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
    </article>
</footer>
</body>
</html>